#signup-form-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;

}


#signup-form {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}
