#signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 244, 250);
    width: 40vw;
    height: 40vh;
    border-radius: 30px;
}

#signup-form {
  display: flex;
  flex-direction: column;
}

.signup-input {
  margin: 5px;
  width: 28vw;
  height: 2vh;
}

#signup-button {
  width: 20vw;
  height: 3vh;

  margin: 4px auto;

  font-size: 15px;
  font-weight: 550;
  box-shadow: 3px 3px 2px grey;
  border: none;
  background-color: white;
}
